@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
.about {
}

.about .col-1 {
  width: 7.03%;
  /* width: 8.03%; */
}

.about .col-2 {
  width: 16.66%;
}

.about .col-3 {
  width: 25%;
}

.about .col-4 {
  width: 33.33%;
}

.about .col-5 {
  width: 41.66%;
}

.about .col-6 {
  width: 50%;
}

.about .col-7 {
  width: 58.33%;
}

.about .col-8 {
  width: 66.66%;
}

.about .col-9 {
  width: 75%;
}

.about .col-10 {
  width: 83.33%;
}

.about .col-11 {
  width: 91.66%;
}

.about .col-10 {
  width: 100%;
}

.about .col-12 {
  width: 100%;
  width: 100%;
}

.about .offset-1 {
  margin-left: 8.33%;
}

.about .offset-2 {
  margin-left: 16.66%;
}

.about .offset-3 {
  margin-left: 25%;
}

.about .offset-4 {
  margin-left: 33.33%;
}

.about .offset-5 {
  margin-left: 41.66%;
}

.about .offset-6 {
  margin-left: 50%;
}

.about .offset-7 {
  margin-left: 58.33%;
}

.about .offset-8 {
  margin-left: 66.66%;
}

.about .offset-9 {
  margin-left: 75%;
}

.about .offset-10 {
  margin-left: 83.33%;
}

.about .offset-11 {
  margin-left: 91.66%;
}

.about .offset-12 {
  margin-left: 100%;
}

.about .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .f-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .f-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .f-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about .j-c-e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about .j-c-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about .j-c-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .j-c-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .a-i-sa {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.about .a-i-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .a-i-sb {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.about * {
  margin: 0rem;
  padding: 0rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about h1,
.about h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.about h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #4b7c83;
}

.about h6 {
  font-family: "Montserrat", sans-serif;
  color: #4b7c83;
}

.about a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #4b7c83;
}

.about p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
}

.about .nav-btn {
  width: 50px;
  background: transparent;
}

@media (max-width: 39.9375em) {
  .about .nav-btn {
    width: 40px;
  }
}

.about .nav-btn span {
  display: block;
  width: 100%;
  border: 2px solid white;
  margin: 8px 0px;
  -webkit-transform-origin: 8px 2px;
          transform-origin: 8px 2px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@media (max-width: 39.9375em) {
  .about .nav-btn span {
    margin: 7px 0px;
    border: 1px solid white;
    -webkit-transform-origin: 7px 1px;
            transform-origin: 7px 1px;
  }
}

.about .nav-btn.open span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.about .nav-btn.open span:nth-of-type(2) {
  opacity: 0;
}

.about .nav-btn.open span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 40em) {
  .about .nav-btn {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .about .nav-btn {
    display: block;
  }
}

.about .container {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

@media (min-width: 64em) {
  .about .container {
    overflow: hidden;
  }
}

.about .overlay {
  display: none;
}

@media (max-width: 63.9375em) {
  .about .overlay {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 2;
    left: 0px;
    top: 120px;
    min-width: 100vw;
    min-height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
    background: linear-gradient(top, transparent, black);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
}

.about .nav {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0px;
  min-width: 7.03%;
  height: 95%;
  background-image: url("../../img/_tools_apla_mine.png");
  background-size: 110%;
  border-radius: 5px;
}

@media (max-width: 63.9375em) {
  .about .nav {
    left: 0px;
    width: 100%;
    min-height: 10%;
    max-height: 80px;
    position: fixed;
    z-index: 4;
    left: 50%;
    top: 0px;
    padding: 0px 20px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 39.9375em) {
  .about .nav {
    max-height: 10%;
    padding: 10px;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 900px) and (orientation: landscape) {
  .about .nav {
    min-height: 20%;
    max-height: 20%;
    position: absolute;
  }
}

.about .nav__logo {
  display: block;
  width: 80%;
  margin: 0px auto 30px;
}

@media (max-width: 63.9375em) {
  .about .nav__logo {
    display: inline;
    margin: 0px;
    width: 90%;
  }
}

@media (max-width: 39.9375em) {
  .about .nav__logo {
    width: 60%;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 900px) and (orientation: landscape) {
  .about .nav__logo {
    width: 65%;
  }
}

.about .nav__logo:hover {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 0.5;
}

.about .nav__list {
  overflow: visible;
  height: 100%;
}

.about .nav__list img {
  display: block;
  width: 50%;
  margin: 0px auto;
}

@media (max-width: 63.9375em) {
  .about .nav__list img {
    width: 120%;
  }
}

@media (max-width: 39.9375em) {
  .about .nav__list img {
    width: 150%;
  }
}

.about .nav__list img:hover {
  -webkit-transition: height 200ms ease-in-out;
  transition: height 200ms ease-in-out;
  opacity: 0.5;
}

@media (max-width: 63.9375em) {
  .about .nav__list {
    display: block;
    overflow: hidden;
    width: 95%;
    height: 0px;
    position: absolute;
    top: 120px;
    left: 50%;
    z-index: 4;
    padding: 0px;
    background-image: url("../../img/_tools_apla_mine.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
  }
  .about .nav__list .nav__line {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  .about .nav__list {
    top: 90px;
  }
}

.about .nav__item {
  margin: 0px 0px;
  list-style-type: none;
}

.about .nav__item p {
  display: none;
}

.about .nav__item img {
  display: block;
}

@media (max-width: 63.9375em) {
  .about .nav__item {
    opacity: 0;
    text-align: center;
    width: 100%;
    display: none;
    margin-top: 16px;
    padding: 10px 0px;
  }
  .about .nav__item.menu-md {
    display: block;
    background-color: #b0d0da;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .about .nav__item.menu-md img {
    display: none;
  }
  .about .nav__item.menu-md a {
    color: white;
  }
  .about .nav__item.menu-md p {
    display: block;
    font-size: 28px;
  }
}

@media (max-width: 63.9375em) and (max-width: 39.9375em) {
  .about .nav__item.menu-md p {
    font-size: 18px;
  }
}

@media (max-width: 63.9375em) {
  .about .nav__item.menu-md:hover {
    background-color: #9cc0b9;
  }
}

.about .nav__line {
  min-height: 1px;
  width: 80%;
  -webkit-box-shadow: 0px 1px 1px white;
          box-shadow: 0px 1px 1px white;
  background-color: white;
  margin: 20px auto;
}

@media (max-width: 63.9375em) {
  .about .nav__line {
    margin: 0px 6px 0px 15px;
    max-width: 1px;
    height: 80%;
  }
}

@media (max-width: 63.9375em) {
  .about .container {
    display: block;
    overflow-x: hidden;
  }
}

.about .article {
  padding: 0px 50px;
  margin-left: auto;
  width: calc(100% - 7.03%);
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .about .article {
    padding: 0px 25px;
  }
}

@media (max-width: 63.9375em) {
  .about .article {
    width: 100%;
    padding: 0px 25px;
  }
}

@media (max-width: 39.9375em) {
  .about .article {
    padding: 0px 10px;
  }
}

@media (max-width: 63.9375em) {
  .about .article__main-inner-wrapper {
    display: block;
    position: relative;
    top: 100px;
    left: 0px;
  }
}

@media (max-width: 39.9375em) {
  .about .article__main-inner-wrapper {
    top: 70px;
    left: 0px;
  }
}

.about .article__left {
  max-width: 40%;
}

@media (max-width: 63.9375em) {
  .about .article__left {
    min-width: 95vw;
  }
}

.about .article__left-inner-wrapper {
  position: relative;
  left: 0px;
  top: 20px;
}

.about .article__left-top-image {
  position: absolute;
  left: 50px;
  top: 30px;
}

.about .article__left-text-1 h1, .about .article__left-text-1 h3 {
  margin-bottom: 5px;
}

.about .article__left-text-1 p {
  margin: 10px 0px;
}

.about .article__left-icons-inner img {
  width: 80%;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.about .article__left-icons-inner img:hover {
  opacity: 0.5;
}

.about .article__left-icons-inner .article__left-icon {
  position: relative;
  left: 25px;
  top: 0px;
}

.about .article__left-text-2 h3 {
  margin: 40px 0px 20px;
}

.about .article__divider {
  margin: 0px 70px;
  position: relative;
  left: 0px;
  top: 0px;
}

.about .article__divider-image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 63.9375em) {
  .about .article__divider-image {
    top: 330px;
    left: 380px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media (max-width: 39.9375em) {
  .about .article__divider-image {
    top: 380px;
    left: 280px;
  }
}

.about .article__right {
  position: relative;
  top: 20px;
  left: 0px;
}

@media (max-width: 63.9375em) {
  .about .article__right {
    min-width: 95vw;
  }
}

.about .article__right-image-horizontal {
  position: absolute;
  right: -30px;
  top: 0px;
}

@media (max-width: 39.9375em) {
  .about .article__right-image-horizontal {
    right: -60px;
    top: -50px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.about .article__right-text-1 {
  width: 90%;
}

.about .article__right-text-1 h2, .about .article__right-text-1 h3 {
  margin-bottom: 5px;
}

.about .article__right-text-1 p {
  margin: 10px 0px;
}

.about .article__right-skills-main {
  min-width: 90%;
  padding: 20px 30px;
  background-image: url("../../img/apla_skiils_gradient.png");
  background-size: 117% 145%;
  background-position: -50px -100px;
  background-repeat: no-repeat;
  border-radius: 5px;
}

@media (max-width: 63.9375em) {
  .about .article__right-skills-main {
    background-size: 125% 145%;
    max-width: 95%;
    margin: 0px auto;
    position: relative;
    left: -10px;
    top: 0px;
  }
}

.about .article__right-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
}

.about .article__right-skill {
  width: 85%;
}

@media (max-width: 63.9375em) {
  .about .article__right-skill {
    width: 80%;
  }
}

.about .article__right-skills-main .article__right-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.about .article__right-skills-main .article__right-skills:nth-of-type(1) img {
  width: 80%;
  height: 15px;
}

.about .article__right-skills-main .article__right-skills:nth-of-type(2) img {
  width: 100%;
  height: 15px;
}

.about .article__right-skills-main .article__right-skills:nth-of-type(3) img {
  width: 100%;
  height: 15px;
}

.about .article__right-skills-main img {
  height: 15px;
  width: 60%;
}

.about .article__right-skills-main .article__right-skills:nth-of-type(5) img {
  width: 100%;
  height: 15px;
}

.about .article__right-skills-main .article__right-skills:nth-of-type(6) img {
  width: 80%;
  height: 15px;
}

.about .article__right-skills-main .article__right-skills:nth-of-type(7) img {
  width: 100%;
  height: 15px;
}

.about .article__bottom-line {
  margin: 30px 0px 0px;
  border-bottom: 1px solid #e2e2e2;
}

.about .article__footer {
  min-width: 100%;
}

@media (max-width: 63.9375em) {
  .about .article__footer {
    display: block;
  }
}

@media (max-width: 39.9375em) {
  .about .article__footer {
    padding-right: 0px;
  }
}

.about .article__footer-left {
  min-width: 30%;
  max-width: 40%;
}

@media (max-width: 63.9375em) {
  .about .article__footer-left {
    margin-top: 100px;
  }
}

.about .article__footer-right {
  height: 100%;
}

.about .article__tools {
  min-width: 90%;
  position: relative;
  top: 0px;
  left: -10px;
  z-index: 1;
  padding: 20px;
  height: 150px;
  background-image: url("../../img/_tools_apla.png");
  background-size: 115% 100%;
  background-position: -100px 0px;
  background-repeat: no-repeat;
  border-radius: 5px;
}

@media (min-width: 87.5em) {
  .about .article__tools {
    left: -100px;
    min-width: 100%;
  }
}

@media (min-width: 64em) {
  .about .article__tools {
    margin-left: 100px;
  }
}

@media (max-width: 63.9375em) {
  .about .article__tools {
    left: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0px;
    margin-top: 20px;
    min-width: 95%;
    height: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px;
    background-position: -100px -100px;
    background-size: 155% 200%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .about .article__tools {
    min-width: 100%;
    position: relative;
    left: -80px;
    top: 0px;
  }
}

@media (max-width: 39.9375em) {
  .about .article__tools {
    margin: 0px auto;
    height: 100%;
    padding: 10px;
  }
}

.about .article__icon-wrapper {
  width: 10%;
  max-height: 70%;
  background-image: url("../../img/biała_apla_shadow.png");
  background-size: 118% 108%;
  background-position: -3px 0px;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin: 0px 8px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .article__icon-wrapper img {
  width: 70%;
}

@media (min-width: 87.5em) {
  .about .article__icon-wrapper img {
    width: 80%;
  }
}

@media (max-width: 39.9375em) {
  .about .article__icon-wrapper img {
    width: 50%;
    position: relative;
    top: -5px;
    left: 0px;
  }
}

.about .article__icon-wrapper p {
  position: relative;
  top: -10px;
  left: 0px;
  text-align: center;
  font-size: 10px;
}

@media (min-width: 87.5em) {
  .about .article__icon-wrapper p {
    top: -20px;
  }
}

@media (max-width: 63.9375em) {
  .about .article__icon-wrapper p {
    font-size: 6px;
  }
}

@media (max-width: 39.9375em) {
  .about .article__icon-wrapper p {
    top: -25px;
    font-size: 12px;
  }
}

.about .article__icon-wrapper .styled-position {
  position: relative;
  left: 0px;
  top: -10px;
}

@media (max-width: 63.9375em) {
  .about .article__icon-wrapper .styled-position {
    top: -20px;
  }
}

@media (min-width: 87.5em) {
  .about .article__icon-wrapper .styled-position {
    top: -15px;
  }
}

@media (max-width: 39.9375em) {
  .about .article__icon-wrapper .styled-position {
    top: -25px;
    font-size: 12px;
  }
}

@media (max-width: 63.9375em) {
  .about .article__icon-wrapper {
    min-width: 9%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .about .article__icon-wrapper {
    position: relative;
    left: -10px;
    top: 0px;
  }
}

@media (max-width: 39.9375em) {
  .about .article__icon-wrapper {
    width: 40%;
  }
}

.about .article__footer-left {
  position: relative;
  top: -10px;
  left: 0px;
}

.about .article__footer-image-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
}

.about .article__footer-image {
  position: absolute;
  right: -50px;
  top: -290px;
}
/*# sourceMappingURL=about.css.map */