@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
.blog {
}

.blog .col-1 {
  width: 7.03%;
  /* width: 8.03%; */
}

.blog .col-2 {
  width: 16.66%;
}

.blog .col-3 {
  width: 25%;
}

.blog .col-4 {
  width: 33.33%;
}

.blog .col-5 {
  width: 41.66%;
}

.blog .col-6 {
  width: 50%;
}

.blog .col-7 {
  width: 58.33%;
}

.blog .col-8 {
  width: 66.66%;
}

.blog .col-9 {
  width: 75%;
}

.blog .col-10 {
  width: 83.33%;
}

.blog .col-11 {
  width: 91.66%;
}

.blog .col-10 {
  width: 100%;
}

.blog .col-12 {
  width: 100%;
  width: 100%;
}

.blog .offset-1 {
  margin-left: 8.33%;
}

.blog .offset-2 {
  margin-left: 16.66%;
}

.blog .offset-3 {
  margin-left: 25%;
}

.blog .offset-4 {
  margin-left: 33.33%;
}

.blog .offset-5 {
  margin-left: 41.66%;
}

.blog .offset-6 {
  margin-left: 50%;
}

.blog .offset-7 {
  margin-left: 58.33%;
}

.blog .offset-8 {
  margin-left: 66.66%;
}

.blog .offset-9 {
  margin-left: 75%;
}

.blog .offset-10 {
  margin-left: 83.33%;
}

.blog .offset-11 {
  margin-left: 91.66%;
}

.blog .offset-12 {
  margin-left: 100%;
}

.blog .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog .f-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog .f-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog .f-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blog .j-c-e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blog .j-c-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.blog .j-c-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog .j-c-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .a-i-sa {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.blog .a-i-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog .a-i-sb {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.blog * {
  margin: 0rem;
  padding: 0rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blog h1,
.blog h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.blog h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #4b7c83;
}

.blog h6 {
  font-family: "Montserrat", sans-serif;
  color: #4b7c83;
}

.blog a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #4b7c83;
}

.blog p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
}

.blog .nav-btn {
  width: 50px;
  background: transparent;
}

@media (max-width: 39.9375em) {
  .blog .nav-btn {
    width: 40px;
  }
}

.blog .nav-btn span {
  display: block;
  width: 100%;
  border: 2px solid white;
  margin: 8px 0px;
  -webkit-transform-origin: 8px 2px;
          transform-origin: 8px 2px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@media (max-width: 39.9375em) {
  .blog .nav-btn span {
    margin: 7px 0px;
    border: 1px solid white;
    -webkit-transform-origin: 7px 1px;
            transform-origin: 7px 1px;
  }
}

.blog .nav-btn.open span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.blog .nav-btn.open span:nth-of-type(2) {
  opacity: 0;
}

.blog .nav-btn.open span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 40em) {
  .blog .nav-btn {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .blog .nav-btn {
    display: block;
  }
}

.blog .container {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

@media (min-width: 64em) {
  .blog .container {
    overflow: hidden;
  }
}

.blog .overlay {
  display: none;
}

@media (max-width: 63.9375em) {
  .blog .overlay {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 2;
    left: 0px;
    top: 120px;
    min-width: 100vw;
    min-height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
    background: linear-gradient(top, transparent, black);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
}

.blog .nav {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0px;
  min-width: 7.03%;
  height: 95%;
  background-image: url("../../img/_tools_apla_mine.png");
  background-size: 110%;
  border-radius: 5px;
}

@media (max-width: 63.9375em) {
  .blog .nav {
    left: 0px;
    width: 100%;
    min-height: 10%;
    max-height: 80px;
    position: fixed;
    z-index: 4;
    left: 50%;
    top: 0px;
    padding: 0px 20px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 39.9375em) {
  .blog .nav {
    max-height: 10%;
    padding: 10px;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 900px) and (orientation: landscape) {
  .blog .nav {
    min-height: 20%;
    max-height: 20%;
    position: absolute;
  }
}

.blog .nav__logo {
  display: block;
  width: 80%;
  margin: 0px auto 30px;
}

@media (max-width: 63.9375em) {
  .blog .nav__logo {
    display: inline;
    margin: 0px;
    width: 90%;
  }
}

@media (max-width: 39.9375em) {
  .blog .nav__logo {
    width: 60%;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 900px) and (orientation: landscape) {
  .blog .nav__logo {
    width: 65%;
  }
}

.blog .nav__logo:hover {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 0.5;
}

.blog .nav__list {
  overflow: visible;
  height: 100%;
}

.blog .nav__list img {
  display: block;
  width: 50%;
  margin: 0px auto;
}

@media (max-width: 63.9375em) {
  .blog .nav__list img {
    width: 120%;
  }
}

@media (max-width: 39.9375em) {
  .blog .nav__list img {
    width: 150%;
  }
}

.blog .nav__list img:hover {
  -webkit-transition: height 200ms ease-in-out;
  transition: height 200ms ease-in-out;
  opacity: 0.5;
}

@media (max-width: 63.9375em) {
  .blog .nav__list {
    display: block;
    overflow: hidden;
    width: 95%;
    height: 0px;
    position: absolute;
    top: 120px;
    left: 50%;
    z-index: 4;
    padding: 0px;
    background-image: url("../../img/_tools_apla_mine.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
  }
  .blog .nav__list .nav__line {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  .blog .nav__list {
    top: 90px;
  }
}

.blog .nav__item {
  margin: 0px 0px;
  list-style-type: none;
}

.blog .nav__item p {
  display: none;
}

.blog .nav__item img {
  display: block;
}

@media (max-width: 63.9375em) {
  .blog .nav__item {
    opacity: 0;
    text-align: center;
    width: 100%;
    display: none;
    margin-top: 16px;
    padding: 10px 0px;
  }
  .blog .nav__item.menu-md {
    display: block;
    background-color: #b0d0da;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .blog .nav__item.menu-md img {
    display: none;
  }
  .blog .nav__item.menu-md a {
    color: white;
  }
  .blog .nav__item.menu-md p {
    display: block;
    font-size: 28px;
  }
}

@media (max-width: 63.9375em) and (max-width: 39.9375em) {
  .blog .nav__item.menu-md p {
    font-size: 18px;
  }
}

@media (max-width: 63.9375em) {
  .blog .nav__item.menu-md:hover {
    background-color: #9cc0b9;
  }
}

.blog .nav__line {
  min-height: 1px;
  width: 80%;
  -webkit-box-shadow: 0px 1px 1px white;
          box-shadow: 0px 1px 1px white;
  background-color: white;
  margin: 20px auto;
}

@media (max-width: 63.9375em) {
  .blog .nav__line {
    margin: 0px 6px 0px 15px;
    max-width: 1px;
    height: 80%;
  }
}

.blog .link-icon {
  width: 1px;
  height: 1px;
  padding: 5px;
  border-right: 1px solid #4b7c83;
  border-bottom: 1px solid #4b7c83;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.blog .article {
  margin-left: auto;
  width: calc(100% - 7.03%);
  margin-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 50px;
}

@media (min-width: 87.5em) {
  .blog .article {
    min-width: 90%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .blog .article {
    padding: 0px 25px;
  }
}

@media (max-width: 63.9375em) {
  .blog .article {
    width: 100%;
    overflow-x: hidden;
    padding: 0px 25px;
  }
}

@media (max-width: 39.9375em) {
  .blog .article {
    display: block;
    padding: 0px 10px;
  }
}

.blog .article__inner {
  min-width: 65%;
}

@media (max-width: 63.9375em) {
  .blog .article__inner {
    display: block;
    position: relative;
    top: 100px;
    left: 0px;
  }
}

@media (max-width: 39.9375em) {
  .blog .article__inner {
    min-width: 100%;
    top: 70px;
    left: 0px;
  }
}

.blog .article__text-1 h1, .blog .article__text-1 h2 {
  margin-bottom: 5px;
}

.blog .article__text-1 p {
  width: 60%;
  margin: 20px 0px;
}

@media (max-width: 63.9375em) {
  .blog .article__text-1 p {
    min-width: 100%;
  }
}

.blog .article__blog-post {
  position: relative;
  top: 0px;
  left: 0px;
}

@media (max-width: 39.9375em) {
  .blog .article__blog-post {
    margin-bottom: 20px;
  }
}

@media (max-width: 39.9375em) {
  .blog .article__blog-post:nth-of-type(4) .article__blog-post-category {
    width: 40%;
  }
  .blog .article__blog-post:nth-of-type(4) h6 {
    left: -18px;
  }
}

.blog .article__blog-post-category {
  position: absolute;
  top: 10%;
  left: 0%;
  height: 40%;
  width: 20%;
  background-image: url("../../img/bolg_post_category_.png");
  background-size: 100% 100%;
  background-position: -20px center;
  background-repeat: no-repeat;
}

.blog .article__blog-post-category h6 {
  position: relative;
  left: -20px;
  top: -2px;
  color: white;
}

@media (max-width: 63.9375em) {
  .blog .article__blog-post-category {
    top: 30%;
    width: 30%;
  }
}

.blog .article__blog-post {
  position: relative;
  top: 0px;
  left: 0px;
}

@media (max-width: 39.9375em) {
  .blog .article__blog-post {
    margin-bottom: 20px;
  }
}

.blog .article__blog-post-image {
  width: 50%;
}

@media (max-width: 63.9375em) {
  .blog .article__blog-post-image {
    width: 100%;
  }
}

.blog .article__blog-post-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
}

.blog .article__blog-post-text h2, .blog .article__blog-post-text h3, .blog .article__blog-post-text h6 {
  margin-bottom: 5px;
}

.blog .article__blog-post-text h2 {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.blog .article__blog-post-text h2:hover {
  opacity: 0.5;
}

.blog .article__blog-post-link {
  position: relative;
  top: 30px;
  right: -120px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.blog .article__blog-post-link:hover {
  opacity: 0.5;
}

@media (max-width: 63.9375em) {
  .blog .article__blog-post-link {
    top: 5px;
    right: -120px;
    font-size: 14px;
  }
}

@media (max-width: 39.9375em) {
  .blog .article__blog-post-link {
    width: 100%;
    top: -2px;
    right: -45px;
    font-size: 12px;
  }
}

.blog .article__line {
  margin: 10px 0px;
  border-bottom: 1px solid #e2e2e2;
}

.blog .article__image-1-wrapper {
  z-index: -1;
  position: relative;
  top: 0px;
  left: 0px;
}

.blog .article__image-1 {
  z-index: -1;
  position: absolute;
  top: -50px;
  left: -230px;
}

.blog .article__dividers-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0px 50px;
}

@media (max-width: 39.9375em) {
  .blog .article__dividers-wrapper {
    z-index: -1;
  }
}

.blog .article__divider-1 {
  position: absolute;
  left: -210px;
  top: 40px;
  width: 400px;
}

@media (max-width: 63.9375em) {
  .blog .article__divider-1 {
    top: 0px;
    left: -210px;
  }
}

@media (max-width: 39.9375em) {
  .blog .article__divider-1 {
    top: -450px;
    left: 80px;
  }
}

.blog .article__divider-2 {
  position: absolute;
  width: 80px;
  left: -50px;
  top: 300px;
}

@media (max-width: 39.9375em) {
  .blog .article__divider-2 {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .blog .article__aside {
    display: block;
    position: relative;
    top: 100px;
    left: 0px;
  }
}

@media (max-width: 39.9375em) {
  .blog .article__aside {
    min-width: 100%;
    top: 70px;
    left: 0px;
  }
}

.blog .article__categories {
  margin-top: 20px;
}

.blog .article__categories-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0px;
  padding: 10px 20px 10px 0px;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.blog .article__categories-inner:hover {
  opacity: 0.5;
}

.blog .article__about {
  padding-bottom: 20px;
  margin-top: 20px;
}

.blog .article__about h2 {
  margin-bottom: 20px;
}

.blog .article__about a {
  font-size: 12px;
  margin-right: 10px;
}
/*# sourceMappingURL=blog.css.map */