@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
.contact {
}

.contact .col-1 {
  width: 7.03%;
  /* width: 8.03%; */
}

.contact .col-2 {
  width: 16.66%;
}

.contact .col-3 {
  width: 25%;
}

.contact .col-4 {
  width: 33.33%;
}

.contact .col-5 {
  width: 41.66%;
}

.contact .col-6 {
  width: 50%;
}

.contact .col-7 {
  width: 58.33%;
}

.contact .col-8 {
  width: 66.66%;
}

.contact .col-9 {
  width: 75%;
}

.contact .col-10 {
  width: 83.33%;
}

.contact .col-11 {
  width: 91.66%;
}

.contact .col-10 {
  width: 100%;
}

.contact .col-12 {
  width: 100%;
  width: 100%;
}

.contact .offset-1 {
  margin-left: 8.33%;
}

.contact .offset-2 {
  margin-left: 16.66%;
}

.contact .offset-3 {
  margin-left: 25%;
}

.contact .offset-4 {
  margin-left: 33.33%;
}

.contact .offset-5 {
  margin-left: 41.66%;
}

.contact .offset-6 {
  margin-left: 50%;
}

.contact .offset-7 {
  margin-left: 58.33%;
}

.contact .offset-8 {
  margin-left: 66.66%;
}

.contact .offset-9 {
  margin-left: 75%;
}

.contact .offset-10 {
  margin-left: 83.33%;
}

.contact .offset-11 {
  margin-left: 91.66%;
}

.contact .offset-12 {
  margin-left: 100%;
}

.contact .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .f-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .f-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .f-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact .j-c-e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact .j-c-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact .j-c-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .j-c-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .a-i-sa {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.contact .a-i-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .a-i-sb {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.contact * {
  margin: 0rem;
  padding: 0rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact h1,
.contact h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.contact h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #4b7c83;
}

.contact h6 {
  font-family: "Montserrat", sans-serif;
  color: #4b7c83;
}

.contact a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #4b7c83;
}

.contact p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
}

.contact .nav-btn {
  width: 50px;
  background: transparent;
}

@media (max-width: 39.9375em) {
  .contact .nav-btn {
    width: 40px;
  }
}

.contact .nav-btn span {
  display: block;
  width: 100%;
  border: 2px solid white;
  margin: 8px 0px;
  -webkit-transform-origin: 8px 2px;
          transform-origin: 8px 2px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@media (max-width: 39.9375em) {
  .contact .nav-btn span {
    margin: 7px 0px;
    border: 1px solid white;
    -webkit-transform-origin: 7px 1px;
            transform-origin: 7px 1px;
  }
}

.contact .nav-btn.open span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.contact .nav-btn.open span:nth-of-type(2) {
  opacity: 0;
}

.contact .nav-btn.open span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 40em) {
  .contact .nav-btn {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .contact .nav-btn {
    display: block;
  }
}

.contact .container {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

@media (min-width: 64em) {
  .contact .container {
    overflow: hidden;
  }
}

.contact .overlay {
  display: none;
}

@media (max-width: 63.9375em) {
  .contact .overlay {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 2;
    left: 0px;
    top: 120px;
    min-width: 100vw;
    min-height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
    background: linear-gradient(top, transparent, black);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
}

.contact .nav {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0px;
  min-width: 7.03%;
  height: 95%;
  background-image: url("../../img/_tools_apla_mine.png");
  background-size: 110%;
  border-radius: 5px;
}

@media (max-width: 63.9375em) {
  .contact .nav {
    left: 0px;
    width: 100%;
    min-height: 10%;
    max-height: 80px;
    position: fixed;
    z-index: 4;
    left: 50%;
    top: 0px;
    padding: 0px 20px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 39.9375em) {
  .contact .nav {
    max-height: 10%;
    padding: 10px;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 900px) and (orientation: landscape) {
  .contact .nav {
    min-height: 20%;
    max-height: 20%;
    position: absolute;
  }
}

.contact .nav__logo {
  display: block;
  width: 80%;
  margin: 0px auto 30px;
}

@media (max-width: 63.9375em) {
  .contact .nav__logo {
    display: inline;
    margin: 0px;
    width: 90%;
  }
}

@media (max-width: 39.9375em) {
  .contact .nav__logo {
    width: 60%;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 900px) and (orientation: landscape) {
  .contact .nav__logo {
    width: 65%;
  }
}

.contact .nav__logo:hover {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 0.5;
}

.contact .nav__list {
  overflow: visible;
  height: 100%;
}

.contact .nav__list img {
  display: block;
  width: 50%;
  margin: 0px auto;
}

@media (max-width: 63.9375em) {
  .contact .nav__list img {
    width: 120%;
  }
}

@media (max-width: 39.9375em) {
  .contact .nav__list img {
    width: 150%;
  }
}

.contact .nav__list img:hover {
  -webkit-transition: height 200ms ease-in-out;
  transition: height 200ms ease-in-out;
  opacity: 0.5;
}

@media (max-width: 63.9375em) {
  .contact .nav__list {
    display: block;
    overflow: hidden;
    width: 95%;
    height: 0px;
    position: absolute;
    top: 120px;
    left: 50%;
    z-index: 4;
    padding: 0px;
    background-image: url("../../img/_tools_apla_mine.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
  }
  .contact .nav__list .nav__line {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  .contact .nav__list {
    top: 90px;
  }
}

.contact .nav__item {
  margin: 0px 0px;
  list-style-type: none;
}

.contact .nav__item p {
  display: none;
}

.contact .nav__item img {
  display: block;
}

@media (max-width: 63.9375em) {
  .contact .nav__item {
    opacity: 0;
    text-align: center;
    width: 100%;
    display: none;
    margin-top: 16px;
    padding: 10px 0px;
  }
  .contact .nav__item.menu-md {
    display: block;
    background-color: #b0d0da;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .contact .nav__item.menu-md img {
    display: none;
  }
  .contact .nav__item.menu-md a {
    color: white;
  }
  .contact .nav__item.menu-md p {
    display: block;
    font-size: 28px;
  }
}

@media (max-width: 63.9375em) and (max-width: 39.9375em) {
  .contact .nav__item.menu-md p {
    font-size: 18px;
  }
}

@media (max-width: 63.9375em) {
  .contact .nav__item.menu-md:hover {
    background-color: #9cc0b9;
  }
}

.contact .nav__line {
  min-height: 1px;
  width: 80%;
  -webkit-box-shadow: 0px 1px 1px white;
          box-shadow: 0px 1px 1px white;
  background-color: white;
  margin: 20px auto;
}

@media (max-width: 63.9375em) {
  .contact .nav__line {
    margin: 0px 6px 0px 15px;
    max-width: 1px;
    height: 80%;
  }
}

.contact .link-icon {
  width: 1px;
  height: 1px;
  padding: 5px;
  border-right: 1px solid #4b7c83;
  border-bottom: 1px solid #4b7c83;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.contact .article::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contact .article {
  margin-left: auto;
  width: calc(100% - 7.03%);
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 50px;
  margin-top: 10px;
}

@media (min-width: 64em) {
  .contact .article {
    overflow: hidden;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .contact .article {
    padding: 0px 25px;
  }
}

@media (max-width: 63.9375em) {
  .contact .article {
    width: 100%;
    padding: 0px 25px;
  }
}

@media (max-width: 39.9375em) {
  .contact .article {
    display: block;
    padding: 0px 10px;
  }
}

.contact .article__left {
  max-width: 40%;
}

@media (min-width: 87.5em) {
  .contact .article__left {
    min-width: 40%;
  }
}

@media (max-width: 63.9375em) {
  .contact .article__left {
    display: block;
    position: relative;
    top: 100px;
    left: 0px;
  }
}

@media (max-width: 39.9375em) {
  .contact .article__left {
    min-width: 100%;
    top: 70px;
    left: 0px;
  }
}

.contact .article__form-wrapper {
  width: 100%;
  margin-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 40px 30px 20px;
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}

.contact .article__form {
  width: 100%;
}

.contact .article__form p {
  margin: 20px 0px;
}

.contact .article__label {
  display: block;
  color: #c0c0c0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin: 8px 0px;
}

.contact .article__input, .contact .article__textarea {
  cursor: pointer;
  width: 100%;
  border: 0px;
  border-bottom: 1px solid #c0c0c0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.contact .article__input:hover, .contact .article__textarea:hover {
  border-bottom: 1px solid skyblue;
}

.contact .article__input:focus, .contact .article__textarea:focus {
  outline: none;
  border: 0px;
  border-bottom: 1px solid skyblue;
}

.contact .article__submit-button, .contact .article__submit-button:active, .contact .article__submit-button:focus {
  display: block;
  cursor: pointer;
  width: 150px;
  height: 40px;
  margin-left: auto;
  margin-top: 50px;
  outline: 0px;
  border: 0px;
  color: white;
  background-image: url("../../img/button_01.png");
  background-position: -20px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.contact .article__submit-button:hover, .contact .article__submit-button:active:hover, .contact .article__submit-button:focus:hover {
  opacity: 0.5;
}

.contact .article__bottom-text {
  margin-top: 60px;
}

.contact .article__bottom-image-wrapper {
  position: relative;
  top: -50px;
  left: 200px;
  overflow: hidden;
  height: 75px;
}

@media (max-width: 63.9375em) {
  .contact .article__bottom-image-wrapper {
    left: 100px;
    width: 350px;
  }
}

.contact .article__bottom-image {
  position: absolute;
  top: -15px;
  left: 0px;
}

.contact .article__divider-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
}

@media (max-width: 39.9375em) {
  .contact .article__divider-wrapper {
    height: 0%;
  }
}

.contact .article__divider {
  height: 60%;
  position: absolute;
  top: 0px;
  left: 200px;
}

@media (min-width: 87.5em) {
  .contact .article__divider {
    height: 80%;
  }
}

@media (max-width: 64em) {
  .contact .article__divider {
    left: 100px;
  }
}

@media (max-width: 63.9375em) {
  .contact .article__divider {
    left: 50px;
  }
}

@media (max-width: 39.9375em) {
  .contact .article__divider {
    top: 400px;
    left: 200px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 900px) and (orientation: landscape) {
  .contact .article__divider {
    top: 100px;
  }
}

.contact .article__aside {
  width: 30%;
  margin-left: auto;
}

@media (max-width: 63.9375em) {
  .contact .article__aside {
    display: block;
    position: relative;
    top: 100px;
    left: 0px;
  }
}

@media (max-width: 39.9375em) {
  .contact .article__aside {
    min-width: 100%;
    margin: 0px;
    width: 100%;
    top: 70px;
    left: 0px;
  }
}

.contact .article__blog-post {
  position: relative;
  top: 0px;
  left: 0px;
}

.contact .article__blog-post img {
  width: 100%;
}

.contact .article__blog-post-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 50px;
  width: 100px;
  background-image: url("../../img/bolg_post_category_.png");
  background-size: 200%;
  background-position: -20px;
  background-repeat: no-repeat;
}

.contact .article__blog-post-text P {
  position: relative;
  font-weight: bold;
}

.contact .article__blog-post-text.first {
  top: 10px;
}

.contact .article__blog-post-text.first p {
  top: -2px;
  left: 20px;
}

@media (max-width: 39.9375em) {
  .contact .article__blog-post-text.first {
    top: 20px;
  }
}

.contact .article__blog-post-text.second {
  background-position: -220px;
  width: 100%;
  top: 70%;
}

.contact .article__blog-post-text.second p {
  top: 2px;
  left: 20px;
}

@media (max-width: 64em) {
  .contact .article__blog-post-text.second {
    top: 60%;
  }
}

@media (max-width: 63.9375em) {
  .contact .article__blog-post-text.second {
    top: 50%;
  }
}

@media (max-width: 39.9375em) {
  .contact .article__blog-post-text.second {
    top: 70%;
  }
}

@media (max-width: 63.9375em) {
  .contact .article__blog-post-text {
    height: 40px;
    width: 80px;
  }
}

.contact .article__text {
  margin-top: 10px;
  padding: 10px 20px 60px 10px;
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}

@media (max-width: 39.9375em) {
  .contact .article__aside-footer {
    margin-top: 20px;
  }
}

.contact .article__text-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid #c0c0c0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.contact .article__text-inner:hover {
  opacity: 0.5;
}

@media (max-width: 63.9375em) {
  .contact .article__text-inner {
    font-size: 14px;
  }
}

.contact .article__footer-inner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 20px 7px 0px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.contact .article__footer-inner-text:hover {
  opacity: 0.5;
}

@media (max-width: 63.9375em) {
  .contact .article__footer-inner-text {
    font-size: 14px;
  }
}

.contact .article__aside-image-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
}

.contact .article__aside-image {
  position: absolute;
  top: -300px;
  right: -80px;
}
/*# sourceMappingURL=contact.css.map */