@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
.home {
}

.home .col-1 {
  width: 7.03%;
  /* width: 8.03%; */
}

.home .col-2 {
  width: 16.66%;
}

.home .col-3 {
  width: 25%;
}

.home .col-4 {
  width: 33.33%;
}

.home .col-5 {
  width: 41.66%;
}

.home .col-6 {
  width: 50%;
}

.home .col-7 {
  width: 58.33%;
}

.home .col-8 {
  width: 66.66%;
}

.home .col-9 {
  width: 75%;
}

.home .col-10 {
  width: 83.33%;
}

.home .col-11 {
  width: 91.66%;
}

.home .col-10 {
  width: 100%;
}

.home .col-12 {
  width: 100%;
  width: 100%;
}

.home .offset-1 {
  margin-left: 8.33%;
}

.home .offset-2 {
  margin-left: 16.66%;
}

.home .offset-3 {
  margin-left: 25%;
}

.home .offset-4 {
  margin-left: 33.33%;
}

.home .offset-5 {
  margin-left: 41.66%;
}

.home .offset-6 {
  margin-left: 50%;
}

.home .offset-7 {
  margin-left: 58.33%;
}

.home .offset-8 {
  margin-left: 66.66%;
}

.home .offset-9 {
  margin-left: 75%;
}

.home .offset-10 {
  margin-left: 83.33%;
}

.home .offset-11 {
  margin-left: 91.66%;
}

.home .offset-12 {
  margin-left: 100%;
}

.home .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .f-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home .f-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .f-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home .j-c-e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home .j-c-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home .j-c-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .j-c-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .a-i-sa {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.home .a-i-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .a-i-sb {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.home * {
  margin: 0rem;
  padding: 0rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home h1,
.home h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.home h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #4b7c83;
}

.home h6 {
  font-family: "Montserrat", sans-serif;
  color: #4b7c83;
}

.home a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #4b7c83;
}

.home p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
}

.home .nav-btn {
  width: 50px;
  background: transparent;
}

@media (max-width: 39.9375em) {
  .home .nav-btn {
    width: 40px;
  }
}

.home .nav-btn span {
  display: block;
  width: 100%;
  border: 2px solid white;
  margin: 8px 0px;
  -webkit-transform-origin: 8px 2px;
          transform-origin: 8px 2px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@media (max-width: 39.9375em) {
  .home .nav-btn span {
    margin: 7px 0px;
    border: 1px solid white;
    -webkit-transform-origin: 7px 1px;
            transform-origin: 7px 1px;
  }
}

.home .nav-btn.open span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.home .nav-btn.open span:nth-of-type(2) {
  opacity: 0;
}

.home .nav-btn.open span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 40em) {
  .home .nav-btn {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .home .nav-btn {
    display: block;
  }
}

.home .container {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

@media (min-width: 64em) {
  .home .container {
    overflow: hidden;
  }
}

.home .overlay {
  display: none;
}

@media (max-width: 63.9375em) {
  .home .overlay {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 2;
    left: 0px;
    top: 120px;
    min-width: 100vw;
    min-height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
    background: linear-gradient(top, transparent, black);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
}

.home .nav {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0px;
  min-width: 7.03%;
  height: 95%;
  background-image: url("../../img/_tools_apla_mine.png");
  background-size: 110%;
  border-radius: 5px;
}

@media (max-width: 63.9375em) {
  .home .nav {
    left: 0px;
    width: 100%;
    min-height: 10%;
    max-height: 80px;
    position: fixed;
    z-index: 4;
    left: 50%;
    top: 0px;
    padding: 0px 20px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 39.9375em) {
  .home .nav {
    max-height: 10%;
    padding: 10px;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 900px) and (orientation: landscape) {
  .home .nav {
    min-height: 20%;
    max-height: 20%;
    position: absolute;
  }
}

.home .nav__logo {
  display: block;
  width: 80%;
  margin: 0px auto 30px;
}

@media (max-width: 63.9375em) {
  .home .nav__logo {
    display: inline;
    margin: 0px;
    width: 90%;
  }
}

@media (max-width: 39.9375em) {
  .home .nav__logo {
    width: 60%;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 900px) and (orientation: landscape) {
  .home .nav__logo {
    width: 65%;
  }
}

.home .nav__logo:hover {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 0.5;
}

.home .nav__list {
  overflow: visible;
  height: 100%;
}

.home .nav__list img {
  display: block;
  width: 50%;
  margin: 0px auto;
}

@media (max-width: 63.9375em) {
  .home .nav__list img {
    width: 120%;
  }
}

@media (max-width: 39.9375em) {
  .home .nav__list img {
    width: 150%;
  }
}

.home .nav__list img:hover {
  -webkit-transition: height 200ms ease-in-out;
  transition: height 200ms ease-in-out;
  opacity: 0.5;
}

@media (max-width: 63.9375em) {
  .home .nav__list {
    display: block;
    overflow: hidden;
    width: 95%;
    height: 0px;
    position: absolute;
    top: 120px;
    left: 50%;
    z-index: 4;
    padding: 0px;
    background-image: url("../../img/_tools_apla_mine.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
  }
  .home .nav__list .nav__line {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  .home .nav__list {
    top: 90px;
  }
}

.home .nav__item {
  margin: 0px 0px;
  list-style-type: none;
}

.home .nav__item p {
  display: none;
}

.home .nav__item img {
  display: block;
}

@media (max-width: 63.9375em) {
  .home .nav__item {
    opacity: 0;
    text-align: center;
    width: 100%;
    display: none;
    margin-top: 16px;
    padding: 10px 0px;
  }
  .home .nav__item.menu-md {
    display: block;
    background-color: #b0d0da;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .home .nav__item.menu-md img {
    display: none;
  }
  .home .nav__item.menu-md a {
    color: white;
  }
  .home .nav__item.menu-md p {
    display: block;
    font-size: 28px;
  }
}

@media (max-width: 63.9375em) and (max-width: 39.9375em) {
  .home .nav__item.menu-md p {
    font-size: 18px;
  }
}

@media (max-width: 63.9375em) {
  .home .nav__item.menu-md:hover {
    background-color: #9cc0b9;
  }
}

.home .nav__line {
  min-height: 1px;
  width: 80%;
  -webkit-box-shadow: 0px 1px 1px white;
          box-shadow: 0px 1px 1px white;
  background-color: white;
  margin: 20px auto;
}

@media (max-width: 63.9375em) {
  .home .nav__line {
    margin: 0px 6px 0px 15px;
    max-width: 1px;
    height: 80%;
  }
}

.home .btn {
  width: 150px;
  height: 60px;
  border: 0px;
  background: transparent;
  background-image: url("../../img/button_01.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
}

.home .article {
  margin-left: auto;
  width: calc(100% - 7.03%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 50px;
  position: relative;
  left: 0%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 95%;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .home .article {
    padding: 0px 25px;
  }
}

@media (max-width: 63.9375em) {
  .home .article {
    width: 100%;
    display: block;
    padding: 0px 25px;
  }
}

@media (max-width: 39.9375em) {
  .home .article {
    padding: 0px 10px;
  }
}

.home .article__left {
  width: 40%;
  margin-top: 40px;
}

@media (max-width: 63.9375em) {
  .home .article__left {
    margin-top: 0px;
    display: block;
    position: relative;
    top: 100px;
    left: 0px;
    width: 91vw;
  }
}

@media (max-width: 39.9375em) {
  .home .article__left {
    min-width: 100%;
    top: 70px;
    left: 0px;
    width: 90vw;
  }
}

.home .article__text-1 h1,
.home .article__text-1 h3 {
  margin-bottom: 10px;
}

.home .article__text-1 p:first-of-type {
  margin: 20px 0px 5px;
}

.home .article__text-1 p:nth-of-type(2) {
  margin: 0px 0px 20px;
}

.home .article__larger-text {
  font-size: 14px;
}

.home .article__icons .bitbucket-icon {
  width: 75%;
  position: relative;
  top: 0px;
  right: -25px;
}

.home .article__icons .dev-icon {
  width: 75%;
}

@media (max-width: 63.9375em) {
  .home .article__icons {
    width: 75%;
    position: relative;
    top: 0px;
    right: -125px;
  }
}

@media (max-width: 39.9375em) {
  .home .article__icons {
    top: 0px;
    right: -110px;
  }
}

.home .article__icons img {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.home .article__icons img:hover {
  cursor: pointer;
  opacity: 0.5;
}

.home .article__line {
  border-bottom: 1px solid #e2e2e2;
}

.home .article__horizontal-divider {
  margin: 40px 0px;
  height: 50px;
  position: relative;
  top: 0;
  left: 0;
}

.home .article__horizontal-divider img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 39.9375em) {
  .home .article__horizontal-divider img {
    left: 50px;
  }
}

@media (min-width: 87.5em) {
  .home .article__horizontal-divider img {
    width: 80%;
  }
}

@media (max-width: 63.9375em) {
  .home .article__horizontal-divider {
    width: 100%;
  }
}

@media (max-width: 39.9375em) {
  .home .article__horizontal-divider {
    top: 0;
    left: 15px;
  }
}

.home .article__text-2 {
  line-height: 1.5;
}

.home .article__left-footer {
  font-weight: bold;
}

@media (max-width: 63.9375em) {
  .home .article__left-footer img {
    position: relative;
    top: 0px;
    right: -25px;
  }
}

.home .article__left-footer img {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.home .article__left-footer img:hover {
  opacity: 0.5;
}

.home .article__divider-vertical {
  position: relative;
  top: 0px;
  left: 0px;
}

.home .article__divider-vertical img {
  position: absolute;
  top: 300px;
  left: 50px;
}

@media (max-width: 63.9375em) {
  .home .article__divider-vertical img {
    display: none;
  }
}

@media (min-width: 87.5em) {
  .home .article__divider-vertical img {
    height: 80%;
    left: 70px;
  }
}

.home .article__right {
  position: relative;
  top: 0px;
  left: 0px;
  width: 60%;
}

@media (max-width: 63.9375em) {
  .home .article__right {
    width: 91vw;
  }
}

@media (max-width: 39.9375em) {
  .home .article__right {
    width: 90vw;
  }
}

.home .article__right-image-1 {
  position: absolute;
  top: 20px;
  left: -43px;
}

@media (max-width: 63.9375em) {
  .home .article__right-image-1 {
    z-index: -1;
    top: -6px;
    left: 50px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@media (max-width: 39.9375em) {
  .home .article__right-image-1 {
    display: none;
  }
}

@media (min-width: 87.5em) {
  .home .article__right-image-1 {
    width: 70%;
    left: -48px;
  }
}

.home .article__right-main-image {
  display: block;
  width: 70%;
  margin-left: auto;
}

@media (max-width: 63.9375em) {
  .home .article__right-main-image {
    width: 100%;
  }
}

.home .article__right-vertical-divider {
  position: relative;
  top: 0px;
  left: 0px;
}

.home .article__right-vertical-divider img {
  position: absolute;
  right: -80px;
  top: -190px;
}

@media (max-width: 63.9375em) {
  .home .article__right-vertical-divider img {
    position: absolute;
    top: -145px;
    right: 50px;
    z-index: -1;
  }
}

@media (max-width: 39.9375em) {
  .home .article__right-vertical-divider img {
    position: absolute;
    top: -185px;
    right: 0px;
  }
}

.home .article__text-3 {
  width: 70%;
  margin-left: auto;
}

.home .article__text-3 h2,
.home .article__text-3 h3 {
  margin-bottom: 5px;
}

@media (max-width: 63.9375em) {
  .home .article__text-3 {
    width: 91vw;
    margin-top: 50px;
  }
}

@media (max-width: 39.9375em) {
  .home .article__text-3 {
    width: 90vw;
  }
  .home .article__text-3 .article__logo {
    margin-bottom: -10px;
  }
}

.home .article__buttons {
  position: relative;
  top: -15px;
  left: 0px;
}

@media (max-width: 63.9375em) {
  .home .article__buttons {
    margin-top: 20px;
    padding-bottom: 50px;
    position: relative;
    top: 0px;
    right: -10px;
  }
}

.home .article__buttons button {
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.home .article__buttons button:hover {
  opacity: 0.6;
}

.home .article__buttons button:focus {
  outline: none;
  border: 0px;
}

.home .article__buttons button:active {
  outline: none;
  border: 0px;
}
/*# sourceMappingURL=main.css.map */