@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
// framework
.col-1 {
    width: 7.03%;
    /* width: 8.03%; */
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-10 {
    width: 100%;
}

.col-12 {
    width: 100%;
    width: 100%;
}

.offset-1 {
    margin-left: 8.33%;
}

.offset-2 {
    margin-left: 16.66%;
}

.offset-3 {
    margin-left: 25%
}

.offset-4 {
    margin-left: 33.33%;
}

.offset-5 {
    margin-left: 41.66%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.33%;
}

.offset-8 {
    margin-left: 66.66%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.33%;
}

.offset-11 {
    margin-left: 91.66%;
}

.offset-12 {
    margin-left: 100%;
}

.d-flex {
    display: flex;
}

.f-w {
    flex-wrap: wrap;
}

.f-c {
    flex-direction: column;
}

.f-r {
    flex-direction: row;
}

.j-c-e {
    justify-content: flex-end;
}

.j-c-sa {
    justify-content: space-around;
}

.j-c-c {
    justify-content: center;
}

.j-c-sb {
    justify-content: space-between;
}

.a-i-sa {
    align-items: space-around;
}

.a-i-c {
    align-items: center;
}

.a-i-sb {
    align-items: space-between;
}

// framework end
// global
* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
h1,
h2 {
    font-family: $f-fam;
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-family: $f-fam;
    font-size: 20px;
    font-weight: $f-med;
    color: $f-color;
}

h6 {
    font-family: $f-fam;
    color: $f-color;
}

a {
    font-family: $f-fam;
    text-decoration: none;
    color: $f-color;
}

p {
    font-family: $f-fam;
    font-size: 0.75rem
}
.nav-btn{
    width: 50px;
    @include breakpoint-down(small){
        width: 40px;
    }
    background: transparent;
    span{
        display: block;
        width: 100%;    
        border: 2px solid white;
        margin:8px 0px;
        transform-origin:8px 2px;
        transition: all 200ms ease-in-out;
        @include breakpoint-down(small){
            margin: 7px 0px;
            border: 1px solid white;
            transform-origin:7px 1px;
         }
    }
 
    &.open{
        span:first-child{
            transform: rotate(45deg);
        }
        span:nth-of-type(2){
            opacity: 0;
        }
        span:last-child{
            transform: rotate(-45deg);
        }
    }
 
    @include breakpoint-up(medium){
        display: none;
    }
    @include breakpoint-down(medium){
        display: block;
    }

  
}
.container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding:10px;
    @include breakpoint-up(large){
        overflow:hidden;
    }
}
.overlay{
    display:none;
    @include breakpoint-down(medium){
        display: block;
        visibility:hidden;
        opacity: 0;
        position: fixed;
        z-index: 2; 
        left:0px;
        top:120px;
        min-width: 100vw;
        min-height: 100vh;
        background: linear-gradient(top,transparent,black);
        transition: all 1s ease-in-out;
    }
}
.nav {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    box-sizing: border-box;
    padding: 20px 0px;
    min-width: 7.03%;
    height: 95%;
    background-image: url('../../img/_tools_apla_mine.png');
    background-size: 110%;
    border-radius: 5px;
    @include breakpoint-down(medium) {
        left:0px;
        width: 100%;
        min-height: 10%;
        max-height: 80px;
        position: fixed;
        z-index: 4;
        left: 50%;
        top: 0px;
        padding: 0px 20px;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
    }
    @include breakpoint-down(small) {
        max-height: 10%;
        padding:10px;
        
    }
    @media only screen and (min-device-width: 480px) 
                   and (max-device-width: 900px) 
                   and (orientation: landscape) {
                    min-height: 20%;
                    max-height: 20%;
                    position:absolute;           
    }

    
    &__logo {
        display: block;
        width: 80%;
        margin: 0px auto 30px;
        @include breakpoint-down(medium) {
            display: inline;
            margin: 0px;
            width: 90%;
        }
        @include breakpoint-down(small){
            width: 60%;
        }
        @media only screen and (min-device-width: 480px) 
        and (max-device-width: 900px) 
        and (orientation: landscape) {
            width: 65%;
        }   
        &:hover{
            transition: all 200ms ease-in-out;
            opacity: 0.5;
        }
    }
    &__list { 
        overflow:visible;
        height: 100%;
        img {
            display: block;
            width: 50%;
            margin: 0px auto;
            @include breakpoint-down(medium) {
                width: 120%;
            }
            @include breakpoint-down(small) {
                width: 150%;
            }
            &:hover{
                transition: height 200ms ease-in-out;
                opacity: 0.5;
            }
        }
        @include breakpoint-down(medium) {
            display: block;
            overflow: hidden;
            width: 95%;
            height: 0px;
            position: absolute; 
            top:120px;
            left:50%;
            z-index: 4;
            padding:0px;   
            background-image: url('../../img/_tools_apla_mine.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            transform: translateX(-50%);
            transition: all 700ms ease-in-out;
            .nav__line{
                display: none;  
            }
        }
        @include breakpoint-down(small){
            top:90px;
        }

    }
    &__item {
        margin: 0px 0px;
        list-style-type: none;
        p{
            display: none;
        }
        img{
            display: block;
        }
        @include breakpoint-down(medium) {
            opacity: 0;
            text-align: center;
            width: 100%;
            display: none;
            margin-top: 16px;
            padding: 10px 0px;
            &.menu-md{
                display: block;
                background-color: rgb(176, 208, 218);
                transition: all 500ms ease-in-out;
                img{
                    display: none;
                }
                a{
                    color:white;
                    
                }
                p{
                    display: block;
                    font-size: 28px;
                    @include breakpoint-down(small){
                        font-size: 18px;
                    }
                }
               
                &:hover{    
                    background-color: rgb(156, 192, 185);   
                }
            }
        }
       
    }

    &__line {
        min-height: 1px;
        width: 80%;
        box-shadow: 0px 1px 1px white;
        background-color: white;
        margin: 20px auto;
        @include breakpoint-down(medium) {
            margin: 0px 6px 0px 15px;
            max-width: 1px;
            height: 80%;
        }
    }
}

// global end