.about{
    @import 'breakpoints';
    @import 'variables';
    @import 'global';
    .container{
        @include breakpoint-down(medium){
            display: block;
            overflow-x:hidden;
        }
           
    }
    .article{
        padding: 0px 50px;
        margin-left: auto;
        width: calc(100% - 7.03%);
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
            padding:0px 25px;
         }
        @include breakpoint-down(medium){
            width: 100%;
            padding: 0px 25px;
        }
        @include breakpoint-down(small){
            padding: 0px 10px;
        }
        &__main-inner-wrapper{
            @include breakpoint-down(medium){
                display: block; 
                position: relative;
                top:100px;
                left:0px;
                
            }
            @include breakpoint-down(small){
                top:70px;
                left:0px;
            }
        }
        &__left{
            
            max-width: 40%;
            @include breakpoint-down(medium){
                min-width: 95vw;
            
            }
        }
        &__left-inner-wrapper{
            position: relative;
            left:0px;
            top:20px;
        }
        &__left-top-image{
            position: absolute;
            left:50px;
            top:30px;
        }
        &__left-text-1{
            h1,h3{
                margin-bottom:5px;
            }
            p{margin:10px 0px;}
        }
        &__left-icons-inner{
            img{
                width:80%;
                cursor:pointer;
                transition: all 200ms ease-in-out;
                &:hover{
                    opacity: 0.5;
                }
            }
            .article__left-icon{
                position: relative;
                left:25px;
                top:0px;
            }
        }
        &__left-text-2{
            h3{
                margin:40px 0px 20px;
            }
        }
        &__divider{
           margin:0px 70px;
           position:relative;
           left:0px;
           top:0px;
        }
        &__divider-image{
            position: absolute;
            left:50%;
            top:50%;
            transform: translateX(-50%);
            @include breakpoint-down(medium){
                top:330px;
                left:380px;
                transform:rotate(90deg)
            }
            @include breakpoint-down(small){
                top:380px;
                left:280px;
            }
        }
        &__right{
            position: relative;
            top:20px;
            left:0px;
            @include breakpoint-down(medium){
                min-width: 95vw;
            
            }
        }
        &__right-image-horizontal{
            position: absolute;
            right:-30px;
            top:0px;
            @include breakpoint-down(small){
                right:-60px;
                top:-50px;
                transform:rotate(-45deg)
            }     
        }
        &__right-text-1{
           width: 90%;
            h2,h3{
                margin-bottom:5px;
            }
            p{
                margin:10px 0px;
            }
        }
        &__right-skills-main{
            min-width:90%;
            padding:20px 30px;
            background-image: url('../../img/apla_skiils_gradient.png');
            background-size: 117% 145%;
            background-position: -50px -100px;
            background-repeat: no-repeat;
            border-radius: 5px;
            @include breakpoint-down(medium){
                background-size: 125% 145%;
                max-width: 95%;
                margin:0px auto;
                position: relative;
                left:-10px;
                top:0px;    
            }
        }
        &__right-skills{
            display:flex;
            justify-content: center;
            align-items: center;
            color:white;
            font-weight: bold;
        }
        &__right-skill{
            width:85%;
            @include breakpoint-down(medium){
                width:80%;
            }
            
        }
        &__right-skills-main{
            .article__right-skills{
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            .article__right-skills:nth-of-type(1){
                img{
                    width:80%;
                     height: 15px;
                }
            }
            .article__right-skills:nth-of-type(2){
                img{
                    width: 100%;
                    height: 15px;
                    
                }
            }
            .article__right-skills:nth-of-type(3){
                img{
                    width:100%;
                    height: 15px;
                
                }
            }
            // .article__right-skills:nth-of-type(4){}
            img{
                height: 15px;
                width: 60%;
            
            }
            .article__right-skills:nth-of-type(5){
                img{
                    width: 100%;
                    height: 15px;
                    
                }
            }
            .article__right-skills:nth-of-type(6){
                img{width:80%;
                    height: 15px;}
            }
            .article__right-skills:nth-of-type(7){
                img{
                    width: 100%;
                    height: 15px;
                
                }
            }
        }
        &__bottom-line{
            margin:30px 0px 0px;
            border-bottom:1px solid #e2e2e2;
        }
        &__footer{
            min-width: 100%;
            @include breakpoint-down(medium){
                display:block;
            }
            @include breakpoint-down(small){
                padding-right: 0px;
            }
        }
        &__footer-left{
            min-width: 30%;
            max-width: 40%;
            @include breakpoint-down(medium){
                margin-top:100px;
            }
            
        }
        &__footer-right{
            height: 100%;
        }
        &__tools{
            min-width: 90%;
            position: relative;
            top:0px;
            left:-10px;
            z-index: 1;
            padding:20px;   
            height: 150px;
            background-image: url('../../img/_tools_apla.png');
            background-size: 115% 100%;
            background-position: -100px 0px;
            background-repeat: no-repeat;
            border-radius: 5px;
            @include breakpoint-up(xlarge){
                left:-100px;
                min-width: 100%;
            }
            @include breakpoint-up(large){
                margin-left: 100px;
            }
            @include breakpoint-down(medium){
                left:0px;
                box-sizing: border-box;
                margin:0px;
                margin-top: 20px    ;
                min-width: 95%;
                height: 150px;
                align-items: center;
                flex-wrap:wrap;
                padding:0px;
                background-position: -100px -100px;
                background-size: 155% 200%;
                
            }
            @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
               min-width: 100%;
               position: relative;
               left:-80px;
               top:0px;
            }
            @include breakpoint-down(small){
                margin: 0px auto;
                height: 100%;
                padding:10px;
            }
        }
        &__icon-wrapper{
            width: 10%;
            max-height: 70%;    
            background-image: url('../../img/biała_apla_shadow.png');
            background-size:118% 108%;
            background-position: -3px 0px;
            background-repeat: no-repeat;
            border-radius: 8px;
            margin:0px 8px;
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 70%;
                @include breakpoint-up(xlarge){
                   width: 80%;
                }
                @include breakpoint-down(small){
                    width: 50%;
                    position:relative;
                    top:-5px;
                    left:0px;
                } 
            }
            p{
                position: relative;
                top:-10px;
                left:0px;
                text-align: center;
                font-size: 10px;
                @include breakpoint-up(xlarge){
                    top:-20px;
                }
                @include breakpoint-down(medium){
                    font-size:6px;
                }
                @include breakpoint-down(small){
                    top:-25px;
                    font-size: 12px;
                }
            }
            .styled-position{
                position: relative;
                left:0px;
                top:-10px;
                @include breakpoint-down(medium){
                    top:-20px;
                }
                @include breakpoint-up(xlarge){
                    top:-15px;
                }
                @include breakpoint-down(small){
                    top:-25px;
                    font-size: 12px;
                }
            }
            @include breakpoint-down(medium){
                min-width: 9%;
            
            }
            @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
                position: relative;
                left:-10px;
                top:0px;
             }
            @include breakpoint-down(small){
                width: 40%;
            } 
        }
        &__footer-left{
            position: relative;
            top:-10px;
            left:0px;
        }
        &__footer-image-wrapper{
            position: relative;
            top:0px;
            left:0px;
        }
        &__footer-image{
            position: absolute;
            right:-50px;
            top:-290px;
        }
    }
}