.blog{
    @import 'breakpoints';
    @import 'variables';
    @import 'global';
    .link-icon {
        width: 1px;
        height: 1px;
        padding: 5px;
        border-right: 1px solid $f-color;
        border-bottom: 1px solid $f-color;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .article{
        margin-left: auto;
        width: calc(100% - 7.03%);
        margin-top: 10px;
        box-sizing: border-box;
        padding:0px 50px;
        @include breakpoint-up(xlarge){
            min-width: 90%;
        }
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
            padding:0px 25px;
         }
        @include breakpoint-down(medium){
            width: 100%;
            overflow-x: hidden;
            padding: 0px 25px;
        }
        @include breakpoint-down(small){
            display: block;
            padding:0px 10px;
        }
        &__inner{
            min-width: 65%;
            @include breakpoint-down(medium){
                display: block; 
                position: relative;
                top:100px;
                left:0px;

            }
            @include breakpoint-down(small){
                min-width: 100%;
                top:70px;
                left:0px;
            }
        }
        &__text-1{
            h1,h2{
                margin-bottom: 5px;
            }
            p{
                width: 60%;
                margin:20px 0px;
                @include breakpoint-down(medium){
                    min-width: 100%;
                }
            }
        }
        &__blog-post{
            position: relative;
            top:0px;
            left:0px;
            @include breakpoint-down(small){
                margin-bottom: 20px;
            }

        }
        &__blog-post:nth-of-type(4){
            @include breakpoint-down(small){
                .article__blog-post-category{
                    width: 40%;
                }
                h6{
                    left: -18px;
                }
            }

        }
        &__blog-post-category{
            position: absolute;
            top:10%;
            left:0%;
            height: 40%;
            width:20%;
            background-image:url('../../img/bolg_post_category_.png');
            background-size:100% 100%;
            background-position: -20px center;
            background-repeat: no-repeat;
            h6{
                position: relative;
                left:-20px;
                top:-2px;
                color:white;
            }
            @include breakpoint-down(medium){
                top:30%;
                width:30%;
            }
        
        }

        &__blog-post{
            position: relative;
            top:0px;
            left:0px;
            @include breakpoint-down(small){
                margin-bottom: 20px;
            }
        
        }
        &__blog-post-image{
            width: 50%;
            @include breakpoint-down(medium){
                width: 100%;
            }
        }
        &__blog-post-text{
            box-sizing: border-box;
            padding-left: 20px;
            h2,h3,h6{
                margin-bottom:5px;
            }
            h2{
                transition: all 200ms ease-in-out;
                &:hover{
                    opacity: 0.5;
                }
            }
        }
        &__blog-post-link{
            position: relative;
            top:30px;
            right:-120px;
            transition: all 200ms ease-in-out;
            &:hover{
                opacity: 0.5;
            }
            @include breakpoint-down(medium){
                top:5px;
                right:-120px;
                font-size: 14px;
            }
            @include breakpoint-down(small){
                width: 100%;
                top: -2px;
                right:-45px;
                font-size: 12px;
            }
        }
        &__line{
            margin:10px 0px;
            border-bottom: 1px solid #e2e2e2;
        }
        &__image-1-wrapper{
            z-index: -1;
            position: relative;
            top:0px;
            left:0px;
        }
        &__image-1{
            z-index: -1;
            position: absolute;
            top:-50px;
            left:-230px;

        }
        &__dividers-wrapper{
            position: relative;
            top:0px;
            left:0px;
            margin:0px 50px;    
            @include breakpoint-down(small){
                z-index: -1;
            }
        }
        &__divider-1{
            position: absolute;
            left:-210px;
            top:40px;
            width: 400px;
            @include breakpoint-down(medium){
                top:0px;
                left:-210px;
            }
            @include breakpoint-down(small){
                top:-450px;
                left:80px;
            }
        }
        &__divider-2{
            position: absolute;
            width:80px;
            left:-50px;
            top:300px;
            @include breakpoint-down(small){
                display: none;
            }
        }
        &__aside{
            @include breakpoint-down(medium){
                display: block; 
                position: relative;
                top:100px;
                left:0px;

            }
            @include breakpoint-down(small){
                min-width: 100%;
                top:70px;
                left:0px;
            }
        }
        &__categories{
            margin-top: 20px;
        }
        &__categories-inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin:5px 0px;
            padding:10px 20px 10px 0px;
            border-bottom: 1px solid #e2e2e2;   
            border-right: 1px solid #e2e2e2; 
            transition: all 200ms ease-in-out;
            &:hover{
                opacity: 0.5;
            }  
        }
        &__about{
            padding-bottom: 20px;
            margin-top: 20px;
            h2{
                margin-bottom: 20px;
            }
            a{
                font-size: 12px;
                margin-right: 10px;

            }
        }

    }
}