.contact{
    @import 'breakpoints';
    @import 'variables';
    @import 'global';
    .link-icon {
        width: 1px;
        height: 1px;
        padding: 5px;
        border-right: 1px solid $f-color;
        border-bottom: 1px solid $f-color;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .article::-webkit-scrollbar{
        display: none;
        -ms-overflow-style: none;
        scrollbar-width: none; 
    }
    .article{
        margin-left: auto;
        width: calc(100% - 7.03%);
        overflow-x: hidden;
        box-sizing: border-box;
        padding:0px 50px;
        margin-top:10px;
       @include breakpoint-up(large){
           overflow: hidden;
        }
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
           padding:0px 25px;
        }
        @include breakpoint-down(medium){
            width: 100%;
            padding:0px 25px;
        
        }
        @include breakpoint-down(small){
            display: block;
            padding:0px 10px;
        }
        &__left{
            max-width:40%;          
            @include breakpoint-up(xlarge){
                min-width: 40%;
            }
            @include breakpoint-down(medium){
                display: block; 
                position: relative;
                top:100px;
                left:0px;
                
            }
            @include breakpoint-down(small){
                min-width: 100%;
                top:70px;
                left:0px;
            }
        }
        &__form-wrapper{
            width: 100%;
            margin-top: 30px;
            box-sizing: border-box;
            padding: 30px 40px 30px 20px;
            border-right:1px solid #c0c0c0;
            border-bottom:1px solid #c0c0c0;
        }
        &__form{
            width: 100%;
            p{margin:20px 0px;}
        }
        &__label{
            display: block;
            color:#c0c0c0;
            font-family: $f-fam;
            font-size:12px;
            margin:8px 0px;
        }
        &__input,
        &__textarea{
            cursor: pointer;
            width: 100%;    
            border:0px;
            border-bottom: 1px solid #c0c0c0;
            transition: all 200ms ease-in-out;
            &:hover{
                border-bottom: 1px solid skyblue;       
            }
            &:focus{
                outline: none;
                border: 0px;
                border-bottom: 1px solid skyblue;
            }
        }
        
        &__submit-button,&__submit-button:active,&__submit-button:focus{
            display: block;
            cursor: pointer;
            width: 150px;
            height: 40px;
            margin-left: auto;
            margin-top: 50px;
            outline:0px;
            border:0px;
            color:white;
            background-image:url('../../img/button_01.png') ;
            background-position: -20px;
            transition: all 200ms ease-in-out;
            &:hover{
                opacity: 0.5;
            }
        }
        &__bottom-text{
            margin-top: 60px;
        }
        &__bottom-image-wrapper{
            position: relative;
            top:-50px;
            left:200px;
            overflow: hidden;
            height: 75px;
            @include breakpoint-down(medium){
                left:100px;
                width: 350px;
            }
        }
        &__bottom-image{
            position: absolute;
            top:-15px;
            left:0px;
        }
        &__divider-wrapper{
            position: relative;
            top:0px;
            left:0px;
            height: 100%;
            @include breakpoint-down(small){
                height:0%;
            }
        }
        &__divider{
            height: 60%;
            position: absolute;
            top:0px;        
            left:200px; 
            @include breakpoint-up(xlarge){
                height: 80%;
            }
            @include breakpoint-down(medium-lg){
                left:100px;      
            }
            @include breakpoint-down(medium){
             left:50px;
            }
            @include breakpoint-down(small){
                top:400px;
                left:200px;
                transform: rotate(45deg);
            }
            @media only screen and (min-device-width: 480px) 
            and (max-device-width: 900px) 
            and (orientation: landscape) {
                top:100px;
            }
        }
        &__aside{
            width: 30%;
            margin-left: auto;
            @include breakpoint-down(medium){
                display: block; 
                position: relative;
                top:100px;
                left:0px;
                
            }
            @include breakpoint-down(small){
                min-width: 100%;
                margin:0px;
                width: 100%;
                top:70px;
                left:0px;
            }
            
        }
        &__blog-post{
            position: relative;
            top:0px;
            left:0px;
            img{
                width: 100%;
            }
        }
        &__blog-post-text{
            position: absolute;
            display: flex;
            justify-content: flex-start;    
            align-items: center;
            color:white;    
            height: 50px;
            width: 100px;
            background-image: url('../../img/bolg_post_category_.png');
            background-size: 200%;
            background-position: -20px;
            background-repeat: no-repeat;
            P{
                position: relative;
                font-weight: bold;
            }
        
            &.first{
                top:10px;
                p{
                    top:-2px;
                    left:20px;
                }
                @include breakpoint-down(small){
                    top:20px;
                }
            }
            &.second{
                background-position: -220px;
                width: 100%;
                top:70%;
                p{
                    top:2px;
                    left:20px;
                }
                @include breakpoint-down(medium-lg){
                    top:60%;
                }
                @include breakpoint-down(medium){
                    top:50%;
                }
                @include breakpoint-down(small){
                    top:70%;
                }
            }
        
            @include breakpoint-down(medium){
                height: 40px;
                width: 80px;
            }
        }
        &__text{
            margin-top: 10px;
            padding:10px 20px 60px 10px;
            border-right:1px solid #c0c0c0;
            border-bottom:1px solid #c0c0c0;
        }
        &__aside-footer{
            @include breakpoint-down(small){
                margin-top:20px;
            }
        }
        &__text-inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px;
            border-bottom:1px solid #c0c0c0;
            transition: all 200ms ease-in-out;
            &:hover{
                opacity: 0.5;
            }
            @include breakpoint-down(medium){
                font-size: 14px;
            }
        }
    
        &__footer-inner-text{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 7px 20px 7px 0px; 
            transition: all 200ms ease-in-out;
            &:hover{
                opacity: 0.5;
            }
            @include breakpoint-down(medium){
                font-size: 14px;
            }
        
        }
    
        &__aside-image-wrapper{
            position: relative;
            top:0px;
            left:0px;
        }
        &__aside-image{
            position: absolute;
            top:-300px;
            right:-80px;
        }
    }
}