.home{
    @import 'breakpoints';
    @import 'variables';
    @import 'global';
    .btn {
        width: 150px;
        height: 60px;
        border: 0px;
        background: transparent;
        background-image: url('../../img/button_01.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: white;
    }
    
    .article {
        margin-left: auto;
        width: calc(100% - 7.03%);
        box-sizing: border-box;
        padding: 0px 50px;
        position: relative;
        left: 0%;
        top: 50%;
        transform: translateY(-50%);
        height: $c-height;
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
            padding:0px 25px;
         }
        @include breakpoint-down(medium) {
            width: 100%;
            display: block;
            padding: 0px 25px;
        
        }
        @include breakpoint-down(small) {
            padding: 0px 10px;
        }
        &__left {
            width: 40%;
            margin-top: 40px;
            @include breakpoint-down(medium){
                margin-top: 0px;
                display: block; 
                position: relative;
                top:100px;
                left:0px;
                width: 91vw;
            }
            @include breakpoint-down(small){
                min-width: 100%;
                top:70px;
                left:0px;
                width: 90vw;
            }
        }
        &__text-1 {
            h1,
            h3 {
                margin-bottom: 10px;
            }
            p:first-of-type {
                margin: 20px 0px 5px;
            }
            p:nth-of-type(2) {
                margin: 0px 0px 20px;
            }
        }
        &__larger-text {
            font-size: 14px;
        }
        &__icons {
            .bitbucket-icon {
                width: 75%;
                position: relative;
                top: 0px;
                right: -25px;
            }
            .dev-icon {
                width: 75%;
            }
            @include breakpoint-down(medium) {
                width: 75%;
                position: relative;
                top: 0px;
                right: -125px;
            }
            @include breakpoint-down(small){
                top:0px;
                right:-110px;
            }
            img{
                transition: all 200ms ease-in-out;
                &:hover{
                    cursor: pointer;
                    opacity: 0.5;
                }
            }
        }
        &__line {
            border-bottom: 1px solid #e2e2e2;
        }
        &__horizontal-divider {
            margin: 40px 0px;
            height: 50px;
            position: relative;
            top:0;
            left:0;
            img {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include breakpoint-down(small) {
                    left: 50px;
                }
                @include breakpoint-up(xlarge){
                    width: 80%;
                }
            }
            @include breakpoint-down(medium) {
                width: 100%;
            }
            @include breakpoint-down(small){
                top:0;
                left:15px;
            }
        }
        &__text-2 {
            line-height: 1.5;
        }
        &__left-footer {
            font-weight: bold;
            @include breakpoint-down(medium) {
                img {
                    position: relative;
                    top: 0px;
                    right: -25px;
                }
            }
            img{
                transition: all 200ms ease-in-out;
                &:hover{
                    opacity: 0.5;
                }
            }
        }
        &__divider-vertical {
            position: relative;
            top:0px;
            left:0px;
            img {
                
                position: absolute;
                top: 300px;
                left: 50px;
                @include breakpoint-down(medium) {
                    display: none;
                }
                @include breakpoint-up(xlarge){
                    height: 80%;
                    left:70px;
                }
            }
        }
        &__right {
            position: relative;
            top:0px;
            left:0px;
            width: 60%;
            @include breakpoint-down(medium) {
                width: 91vw;
            }
            @include breakpoint-down(small) {
                width: 90vw;
            }
        
        }
        &__right-image-1 {
            position: absolute;
            top: 20px;
            left: -43px;
            @include breakpoint-down(medium) {
                z-index: -1;
                top: -6px;
                left: 50px;
                transform: rotate(135deg);
            }
            @include breakpoint-down(small) {
                display: none;
            }
            @include breakpoint-up(xlarge){
               width: 70%;
               left: -48px;
            }
        }
        &__right-main-image {
            display: block;
            width: 70%;
            margin-left: auto;
            @include breakpoint-down(medium) {
                width: 100%;
            }
        }
        &__right-vertical-divider {
            position: relative;
            top:0px;
            left:0px;
            img {
                position: absolute;
                right: -80px;
                top: -190px;
                @include breakpoint-down(medium) {
                    position: absolute;
                    top:-145px;
                    right: 50px;
                    z-index: -1;
                }
                @include breakpoint-down(small) {
                    position: absolute;
                    top:-185px;
                    right: 0px;
                }
            }
            
        }
        &__text-3 {
            width: 70%;
            margin-left: auto;
            h2,
            h3 {
                margin-bottom: 5px;
            }
            @include breakpoint-down(medium) {
                width: 91vw;
                margin-top: 50px;
            }
            @include breakpoint-down(small) {
                width: 90vw;
                .article__logo {
                    margin-bottom: -10px;
                }
            }
        }
        &__buttons {
            position: relative;
            top: -15px;
            left: 0px;
            @include breakpoint-down(medium) {
                margin-top: 20px;
                padding-bottom: 50px;
                position: relative;
                top: 0px;
                right: -10px;
            }
            button{
                cursor: pointer;
                transition: all 200ms ease-in-out;
                &:hover{
                    opacity: 0.6;
                }
            }
            button:focus{
                outline: none;
                border:0px;
            }   
            button:active{
                outline: none;
                border:0px;
            }
        }
    }
}