.portfolio{
    @import 'breakpoints';
    @import 'variables';
    @import 'global';
    .container{
        @include breakpoint-up(large){
            overflow:visible;
        }
    }
    .article{
        overflow-x: hidden;
        margin-left: auto;
        width: calc(100% - 7.03%);
        box-sizing: border-box;
        padding:0px 50px;
        max-width: 100vw;
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
            padding:0px 25px;
         }
        @include breakpoint-down(medium){
            width: 100%;
            overflow-x: hidden;
            padding: 0px 25px;
        }
        @include breakpoint-down(small){
            padding:0px 10px;
        }
        &__top{
            max-width: 100%;
            margin-top: 20px;
            margin-bottom: 10px;
            @include breakpoint-down(medium){
                margin-top: 0px;
                display: block; 
                position: relative;
                top:100px;
                left:0px;
                
            }
            @include breakpoint-down(small){
                top:70px;
                left:0px;
            }
        }
        &__top-left{
            width: 40%;
            h1,h3{
                margin-bottom:5px;
            }
            @include breakpoint-up(xlarge){
                min-width: 40%;
            
            }
            @include breakpoint-down(medium){
                    width:100%;
            }
            
        }
        &__category{
            margin-top: 20px;
            min-width: 400px;
            font-weight: bold;
            a{
                color:black !important;
                text-transform: uppercase;
                font-size: 12px;
                transition: all 200ms ease-in-out;
                   &:hover{
                    opacity: 0.5;
                }
            }
            @include breakpoint-down(small){
                min-width: 100%;
                a{
                    font-size: 10px;
                }
            }
        }
        &__divider-wrapper{
            position: relative;
            top:0px;
            left:0px;
        }
        &__divider{
            position: absolute;
            top: -100px;
            left:-20px;
            @include breakpoint-down(medium){
                top:-80px;
                left:-80px;
                width: 400px;
            }
            @include breakpoint-down(small){
                z-index: -1;
                top: -130px;
                left:50px;
                transform: rotate(-45deg);
            }
        }
        &__right{
            margin-left: auto;
            @include breakpoint-up(xlarge){
                min-width: 50%;
                margin-left: auto;
            }
            @include breakpoint-down(medium){
               margin-top:100px;
            }
            @include breakpoint-down(small){
                margin-top: 0px;
            }
            img{
                display: block;
                margin-left: auto;
                width: 54.8%;
                @include breakpoint-up(xlarge){
                    min-width: 60%;
                }
                @include breakpoint-down(medium){
                    display: none;
                }
                @include breakpoint-down(small){
                    display: block;
                    width: 100%;
                    margin:10px 0px;
                }
            }
        }
        &__websites{
            max-width: 100%;
            @include breakpoint-down(small){
                margin-top:80px;
            }
        }
        &__website-image-wrapper{
           min-width: 30%;
           a:first-child{
               img{
                  width: 100%;
                   transition: all 200ms ease-in-out;
                   &:hover{
                       box-shadow: 0px 0px 10px rgba(0,0,0,0.55);
                   }
                   @include breakpoint-down(medium){
                       margin-right: 15px;
                   }
               }
           }
           @include breakpoint-down(medium){
                width: 48%;
               
           }
           @include breakpoint-down(small){
               width: 100%;
           }
        }
        &__website-icons{
            width: 100%;
            position: relative;
            top:0px;
            right: -20px;
            display:flex;
            justify-content:flex-end;
            align-items: center;
            @include breakpoint-down(medium){
                right: -40px;
            }
            p{
                position: relative;
                top:0px;
                right: -20px;
            }
            img{
                width: 100%;
                @include breakpoint-down(medium){
                    max-width: 70%;
                }
            }
            a:first-of-type{
                img{    
                    position: relative;
                    left:30px;
                    top:0px;
                    width: 83%;
                    @include breakpoint-down(medium){
                        width: 60%;
                        left:40px;
                        top:0px;
                    }
                }
            }
            a{
                img{
                    width: 100%;
                    transition: all 200ms ease-in-out;
                    &:hover{
                        opacity: 0.5;
                    }
                }
            
            }
        }
        &__bottom-image-wrapper{
            position: relative;
            top:0px;
            left:0px;
        }
        &__bottom-image{
            z-index: -1;
            position: absolute;
            left:-250px;
            top:-310px;
        }
    }
}