@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
.portfolio {
}

.portfolio .col-1 {
  width: 7.03%;
  /* width: 8.03%; */
}

.portfolio .col-2 {
  width: 16.66%;
}

.portfolio .col-3 {
  width: 25%;
}

.portfolio .col-4 {
  width: 33.33%;
}

.portfolio .col-5 {
  width: 41.66%;
}

.portfolio .col-6 {
  width: 50%;
}

.portfolio .col-7 {
  width: 58.33%;
}

.portfolio .col-8 {
  width: 66.66%;
}

.portfolio .col-9 {
  width: 75%;
}

.portfolio .col-10 {
  width: 83.33%;
}

.portfolio .col-11 {
  width: 91.66%;
}

.portfolio .col-10 {
  width: 100%;
}

.portfolio .col-12 {
  width: 100%;
  width: 100%;
}

.portfolio .offset-1 {
  margin-left: 8.33%;
}

.portfolio .offset-2 {
  margin-left: 16.66%;
}

.portfolio .offset-3 {
  margin-left: 25%;
}

.portfolio .offset-4 {
  margin-left: 33.33%;
}

.portfolio .offset-5 {
  margin-left: 41.66%;
}

.portfolio .offset-6 {
  margin-left: 50%;
}

.portfolio .offset-7 {
  margin-left: 58.33%;
}

.portfolio .offset-8 {
  margin-left: 66.66%;
}

.portfolio .offset-9 {
  margin-left: 75%;
}

.portfolio .offset-10 {
  margin-left: 83.33%;
}

.portfolio .offset-11 {
  margin-left: 91.66%;
}

.portfolio .offset-12 {
  margin-left: 100%;
}

.portfolio .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .f-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .f-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio .f-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portfolio .j-c-e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.portfolio .j-c-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portfolio .j-c-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .j-c-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio .a-i-sa {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.portfolio .a-i-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .a-i-sb {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.portfolio * {
  margin: 0rem;
  padding: 0rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolio h1,
.portfolio h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.portfolio h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #4b7c83;
}

.portfolio h6 {
  font-family: "Montserrat", sans-serif;
  color: #4b7c83;
}

.portfolio a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #4b7c83;
}

.portfolio p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
}

.portfolio .nav-btn {
  width: 50px;
  background: transparent;
}

@media (max-width: 39.9375em) {
  .portfolio .nav-btn {
    width: 40px;
  }
}

.portfolio .nav-btn span {
  display: block;
  width: 100%;
  border: 2px solid white;
  margin: 8px 0px;
  -webkit-transform-origin: 8px 2px;
          transform-origin: 8px 2px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@media (max-width: 39.9375em) {
  .portfolio .nav-btn span {
    margin: 7px 0px;
    border: 1px solid white;
    -webkit-transform-origin: 7px 1px;
            transform-origin: 7px 1px;
  }
}

.portfolio .nav-btn.open span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.portfolio .nav-btn.open span:nth-of-type(2) {
  opacity: 0;
}

.portfolio .nav-btn.open span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 40em) {
  .portfolio .nav-btn {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .portfolio .nav-btn {
    display: block;
  }
}

.portfolio .container {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

@media (min-width: 64em) {
  .portfolio .container {
    overflow: hidden;
  }
}

.portfolio .overlay {
  display: none;
}

@media (max-width: 63.9375em) {
  .portfolio .overlay {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 2;
    left: 0px;
    top: 120px;
    min-width: 100vw;
    min-height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
    background: linear-gradient(top, transparent, black);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
}

.portfolio .nav {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0px;
  min-width: 7.03%;
  height: 95%;
  background-image: url("../../img/_tools_apla_mine.png");
  background-size: 110%;
  border-radius: 5px;
}

@media (max-width: 63.9375em) {
  .portfolio .nav {
    left: 0px;
    width: 100%;
    min-height: 10%;
    max-height: 80px;
    position: fixed;
    z-index: 4;
    left: 50%;
    top: 0px;
    padding: 0px 20px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 39.9375em) {
  .portfolio .nav {
    max-height: 10%;
    padding: 10px;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 900px) and (orientation: landscape) {
  .portfolio .nav {
    min-height: 20%;
    max-height: 20%;
    position: absolute;
  }
}

.portfolio .nav__logo {
  display: block;
  width: 80%;
  margin: 0px auto 30px;
}

@media (max-width: 63.9375em) {
  .portfolio .nav__logo {
    display: inline;
    margin: 0px;
    width: 90%;
  }
}

@media (max-width: 39.9375em) {
  .portfolio .nav__logo {
    width: 60%;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 900px) and (orientation: landscape) {
  .portfolio .nav__logo {
    width: 65%;
  }
}

.portfolio .nav__logo:hover {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 0.5;
}

.portfolio .nav__list {
  overflow: visible;
  height: 100%;
}

.portfolio .nav__list img {
  display: block;
  width: 50%;
  margin: 0px auto;
}

@media (max-width: 63.9375em) {
  .portfolio .nav__list img {
    width: 120%;
  }
}

@media (max-width: 39.9375em) {
  .portfolio .nav__list img {
    width: 150%;
  }
}

.portfolio .nav__list img:hover {
  -webkit-transition: height 200ms ease-in-out;
  transition: height 200ms ease-in-out;
  opacity: 0.5;
}

@media (max-width: 63.9375em) {
  .portfolio .nav__list {
    display: block;
    overflow: hidden;
    width: 95%;
    height: 0px;
    position: absolute;
    top: 120px;
    left: 50%;
    z-index: 4;
    padding: 0px;
    background-image: url("../../img/_tools_apla_mine.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
  }
  .portfolio .nav__list .nav__line {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  .portfolio .nav__list {
    top: 90px;
  }
}

.portfolio .nav__item {
  margin: 0px 0px;
  list-style-type: none;
}

.portfolio .nav__item p {
  display: none;
}

.portfolio .nav__item img {
  display: block;
}

@media (max-width: 63.9375em) {
  .portfolio .nav__item {
    opacity: 0;
    text-align: center;
    width: 100%;
    display: none;
    margin-top: 16px;
    padding: 10px 0px;
  }
  .portfolio .nav__item.menu-md {
    display: block;
    background-color: #b0d0da;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .portfolio .nav__item.menu-md img {
    display: none;
  }
  .portfolio .nav__item.menu-md a {
    color: white;
  }
  .portfolio .nav__item.menu-md p {
    display: block;
    font-size: 28px;
  }
}

@media (max-width: 63.9375em) and (max-width: 39.9375em) {
  .portfolio .nav__item.menu-md p {
    font-size: 18px;
  }
}

@media (max-width: 63.9375em) {
  .portfolio .nav__item.menu-md:hover {
    background-color: #9cc0b9;
  }
}

.portfolio .nav__line {
  min-height: 1px;
  width: 80%;
  -webkit-box-shadow: 0px 1px 1px white;
          box-shadow: 0px 1px 1px white;
  background-color: white;
  margin: 20px auto;
}

@media (max-width: 63.9375em) {
  .portfolio .nav__line {
    margin: 0px 6px 0px 15px;
    max-width: 1px;
    height: 80%;
  }
}

@media (min-width: 64em) {
  .portfolio .container {
    overflow: visible;
  }
}

.portfolio .article {
  overflow-x: hidden;
  margin-left: auto;
  width: calc(100% - 7.03%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 50px;
  max-width: 100vw;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .portfolio .article {
    padding: 0px 25px;
  }
}

@media (max-width: 63.9375em) {
  .portfolio .article {
    width: 100%;
    overflow-x: hidden;
    padding: 0px 25px;
  }
}

@media (max-width: 39.9375em) {
  .portfolio .article {
    padding: 0px 10px;
  }
}

.portfolio .article__top {
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media (max-width: 63.9375em) {
  .portfolio .article__top {
    margin-top: 0px;
    display: block;
    position: relative;
    top: 100px;
    left: 0px;
  }
}

@media (max-width: 39.9375em) {
  .portfolio .article__top {
    top: 70px;
    left: 0px;
  }
}

.portfolio .article__top-left {
  width: 40%;
}

.portfolio .article__top-left h1, .portfolio .article__top-left h3 {
  margin-bottom: 5px;
}

@media (min-width: 87.5em) {
  .portfolio .article__top-left {
    min-width: 40%;
  }
}

@media (max-width: 63.9375em) {
  .portfolio .article__top-left {
    width: 100%;
  }
}

.portfolio .article__category {
  margin-top: 20px;
  min-width: 400px;
  font-weight: bold;
}

.portfolio .article__category a {
  color: black !important;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.portfolio .article__category a:hover {
  opacity: 0.5;
}

@media (max-width: 39.9375em) {
  .portfolio .article__category {
    min-width: 100%;
  }
  .portfolio .article__category a {
    font-size: 10px;
  }
}

.portfolio .article__divider-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
}

.portfolio .article__divider {
  position: absolute;
  top: -100px;
  left: -20px;
}

@media (max-width: 63.9375em) {
  .portfolio .article__divider {
    top: -80px;
    left: -80px;
    width: 400px;
  }
}

@media (max-width: 39.9375em) {
  .portfolio .article__divider {
    z-index: -1;
    top: -130px;
    left: 50px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.portfolio .article__right {
  margin-left: auto;
}

@media (min-width: 87.5em) {
  .portfolio .article__right {
    min-width: 50%;
    margin-left: auto;
  }
}

@media (max-width: 63.9375em) {
  .portfolio .article__right {
    margin-top: 100px;
  }
}

@media (max-width: 39.9375em) {
  .portfolio .article__right {
    margin-top: 0px;
  }
}

.portfolio .article__right img {
  display: block;
  margin-left: auto;
  width: 54.8%;
}

@media (min-width: 87.5em) {
  .portfolio .article__right img {
    min-width: 60%;
  }
}

@media (max-width: 63.9375em) {
  .portfolio .article__right img {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  .portfolio .article__right img {
    display: block;
    width: 100%;
    margin: 10px 0px;
  }
}

.portfolio .article__websites {
  max-width: 100%;
}

@media (max-width: 39.9375em) {
  .portfolio .article__websites {
    margin-top: 80px;
  }
}

.portfolio .article__website-image-wrapper {
  min-width: 30%;
}

.portfolio .article__website-image-wrapper a:first-child img {
  width: 100%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.portfolio .article__website-image-wrapper a:first-child img:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
}

@media (max-width: 63.9375em) {
  .portfolio .article__website-image-wrapper a:first-child img {
    margin-right: 15px;
  }
}

@media (max-width: 63.9375em) {
  .portfolio .article__website-image-wrapper {
    width: 48%;
  }
}

@media (max-width: 39.9375em) {
  .portfolio .article__website-image-wrapper {
    width: 100%;
  }
}

.portfolio .article__website-icons {
  width: 100%;
  position: relative;
  top: 0px;
  right: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .portfolio .article__website-icons {
    right: -40px;
  }
}

.portfolio .article__website-icons p {
  position: relative;
  top: 0px;
  right: -20px;
}

.portfolio .article__website-icons img {
  width: 100%;
}

@media (max-width: 63.9375em) {
  .portfolio .article__website-icons img {
    max-width: 70%;
  }
}

.portfolio .article__website-icons a:first-of-type img {
  position: relative;
  left: 30px;
  top: 0px;
  width: 83%;
}

@media (max-width: 63.9375em) {
  .portfolio .article__website-icons a:first-of-type img {
    width: 60%;
    left: 40px;
    top: 0px;
  }
}

.portfolio .article__website-icons a img {
  width: 100%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.portfolio .article__website-icons a img:hover {
  opacity: 0.5;
}

.portfolio .article__bottom-image-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
}

.portfolio .article__bottom-image {
  z-index: -1;
  position: absolute;
  left: -250px;
  top: -310px;
}
/*# sourceMappingURL=portfolio.css.map */